.buttons {
  width: 100%;
}
.buttons .shoppingbtn {
  width: 40%;
  height: 48px;
  padding: 15px 0;
  margin-top: -10px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  border-radius: 24px;
}
.btn1 {
  border: 1px solid rgb(0, 189, 63);
  margin-right: 5px;
}
.btn1:hover {
  background-color: rgb(0, 189, 63);
  color: white;
  transition: 0.4s ease-in-out;
  box-shadow: 0px 0px 10px 2px rgb(0, 189, 63);
}
.btn2 {
  border: 1px solid rgb(255, 77, 7);
}
.btn2:hover {
  background-color: rgb(255, 77, 7);
  color: white;
  transition: 0.4s ease-in-out;
  box-shadow: 0px 0px 10px 2px rgb(255, 77, 7);
}
