.cardText {
  margin: 25px;
}
.cardText .date {
  color: rgb(255, 7, 110);
}
.cardText p {
  color: gray;
  font-size: 15px;
  font-weight: 300;
}
.cardText h2 {
  padding: 10px 0 5px 0;
  margin-top: 10px;
  font-size: 28px;
}
